# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
debug.log

# Dependencies
node_modules
bun.lock
package-lock.json

# Build & Output
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

# Secrets & Environment
.env
.env.local
.env.*.local

# Editor & IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
.DS_Store

# ESLint output & cache
eslint_output.txt
blog_eslint.json
eslint.json

